openapi: 3.0.1
info:
  title: Revelator Account Integrations API
  description: REST API for the Revelator music distribution and rights, royalties, and payments platform. Covers account/catalog management, distribution to DSPs, analytics and trends, royalty accounting and financial reporting, and payments / royalty-token (Web3 wallet) operations. Authentication uses an access token (Bearer) obtained from the partner login endpoints; tokens are valid for 8 hours and must be sent in the Authorization header.
  termsOfService: https://www.revelator.com/terms
  contact:
    name: Revelator Support
    url: https://api-docs.revelator.com
  version: '1.0'
servers:
- url: https://api.revelator.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Payment-provider (Tipalti) integration.
paths:
  /accounting/payee/save:
    post:
      operationId: savePayee
      tags:
      - Integrations
      summary: Update the payment method for a payee.
      description: Updates the payment method for a payee within the Revelator system (paymentProviderId, paymentProviderName, paymentUserId).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payee'
      responses:
        '200':
          description: OK
  /integrations/tipalti/generateIframeHashkey:
    post:
      operationId: generateTipaltiIframeHashkey
      tags:
      - Integrations
      summary: Generate a Tipalti iFrame hashkey for payee setup.
      description: Generates an iFrame hashkey used to embed the Tipalti payee payment-setup flow. Requires a payee user access token.
      responses:
        '200':
          description: OK
components:
  schemas:
    Payee:
      type: object
      properties:
        payeeId:
          type: string
        name:
          type: string
        paymentProviderId:
          type: string
        paymentProviderName:
          type: string
        paymentUserId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token obtained from POST /partner/account/login (or /account/login/as), sent as ''Authorization: Bearer <token>''. Tokens are valid for 8 hours.'
